#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (min-width: 601px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 2em;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    display: grid;
    padding: 2em;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .read-the-docs {
    color: #888;
  }
}
